{% extends "products/base.html" %} {% block title %}製造指示作成{% endblock %}
{% block content %}
<div class="row mb-4">
	<div class="col">
		<h2>製造指示作成</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<form method="post" class="card">
			{% csrf_token %}
			<div class="card-body">
				{% for field in form %}
				<div class="mb-3">
					<label for="{{ field.id_for_label }}" class="form-label">
						{{ field.label }}
					</label>
					<div>{{ field }}</div>
					{% if field.errors %}
					<div class="invalid-feedback d-block">
						{{ field.errors|join:", " }}
					</div>
					{% endif %} {% if field.help_text %}
					<div class="form-text">{{ field.help_text }}</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			<div class="card-footer">
				<button type="submit" class="btn btn-primary">作成</button>
				<a
					href="{% url 'production-order-list' %}"
					class="btn btn-outline-secondary"
				>
					キャンセル
				</a>
			</div>
		</form>
	</div>
</div>
{% endblock %}
